.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main div:not(:nth-child(1)) {
  margin: 2rem;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.intro img {
  width: 25%;
  height: auto;
  border-radius: 100px;
  transition: all 1.2s ease;
}

.intro img:hover {
  transform: rotate(360deg);
}

.about {
  text-align: center;
  font-size: 1.25rem;
}

.about a {
  color: cyan;
}

.languages {
  text-align: center;
}

.tiles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiles img {
  width: 25%;
  height: auto;
  padding: 3rem;
  transition: all 0.3s ease;
}

.tiles img:hover {
  transform: scale(120%);
}

@media only screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
